{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    <a class="xhx AA094" href="{:url('server/index')}">服务器管理</a>&nbsp>&nbsp添加服务器
</blockquote>
<style>
    .layui-form-item label{
        width: 105px !important;
    }
</style>
<form class="layui-form" action="{:url('product/addAction')}" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">服务器名称</label>
        <div class="layui-input-block">
            <input type="text" name="data[servername]" lay-verify="title" autocomplete="off" placeholder="请输入服务器名称" class="layui-input inputWidth">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">入口网卡</label>
        <div class="layui-input-block">
            <input type="text" name="data[inputcard]" autocomplete="off" placeholder="请输入入口网卡" class="layui-input inputWidth">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">出口网卡</label>
        <div class="layui-input-block">
            <input type="text" name="data[outcard]"  autocomplete="off" placeholder="请输入出口网卡" class="layui-input inputWidth">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">网关MAC地址</label>
        <div class="layui-input-block">
            <input type="text" name="data[macaddress]" autocomplete="off" placeholder="请输入网关MAC地址" class="layui-input inputWidth">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">采集中心地址</label>
        <div class="layui-input-block">
            <input type="text" name="data[datacenter]" autocomplete="off" placeholder="请输入采集中心地址" class="layui-input inputWidth">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">回包源MAC地址</label>
        <div class="layui-input-block">
            <input type="text" name="data[srcmacaddress]" autocomplete="off" placeholder="请输入回包源MAC地址" class="layui-input inputWidth">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">回包源IP地址</label>
        <div class="layui-input-block">
            <input type="text" name="data[srcip]" autocomplete="off" placeholder="请输入回包源IP地址" class="layui-input inputWidth">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">回包目标IP地址</label>
        <div class="layui-input-block">
            <input type="text" name="data[dstip]" autocomplete="off" placeholder="请输入目标IP地址" class="layui-input inputWidth">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">IPIP隧道回注</label>
        <div class="layui-input-block">
            <input type="checkbox" name="data[ipiptunnel]" lay-skin="switch" lay-filter="switchTest" lay-text="开启|关闭">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">Host统计</label>
        <div class="layui-input-block">
            <input type="checkbox"  name="data[hostcollect]" lay-skin="switch" lay-filter="switchHost" lay-text="开启|关闭">
        </div>
    </div>


    <div class="layui-form-item switchHost" >
        <label class="layui-form-label">Host统计方式</label>
        <div class="layui-input-block">
            <input type="radio" name="data[collecttype]" value="1" title="JS统计" class="product_radio" checked="">
            <input type="radio" name="data[collecttype]" value="2" title="微信流量统计" class="product_radio" >
            <input type="radio" name="data[collecttype]" value="3" title="未命中APK统计" class="product_radio" >
        </div>
    </div>




    <div class="layui-form-item">
        <label class="layui-form-label">IP地址</label>
        <div class="layui-input-block">
            <input type="text" name="data[serverip]" autocomplete="off" placeholder="请输入IP地址" class="layui-input inputWidth">
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即添加</button>
            <a class="layui-btn layui-btn-primary cancel"  lay-filter="cancel"  >取消</a>
        </div>
    </div>
</form>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 1){
                    return '提示处不能为空！';
                }
            }
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });
        //监听指定开关
        form.on('switch(switchTest)', function(data){
            console.log(this.checked);
            layer.msg('IPIP隧道回注：'+ (this.checked ? '开启' : '关闭'), {
                offset: '6px'
            });
            layer.tips('温馨提示：提交后生效', data.othis)
        });
        //监听switchHost指定开关
        form.on('switch(switchHost)', function(data){
            console.log(this.checked);
            layer.msg('Host统计：'+ (this.checked ? '开启' : '关闭'), {
                offset: '6px'
            });
            if(this.checked){
                layer.tips('温馨提示：提交后生效', data.othis);
                $('.switchHost').show();
            }else{
                $('.switchHost').hide();
            }

        });
        //监听提交
        form.on('submit(demo1)', function(data){
            layui.use('jquery',function(){
                var $=layui.$;
                $.ajax({
                    type: 'post',
                    url: "{:url('server/addAction')}", // ajax请求路径
                    data: data.field,
                    success: function(data){
                        if(data.code==0){
                             layer.msg('成功添加服务器配置！');
                             setTimeout(function () {
                                 window.history.back(-1);
                             },1000)
                         }else{
                             layer.msg(data.msg);
                         }
                    }
                });
            });
            return false;
        });
    });

    $(function () {
        $('#tpisshow').hide();
        $('.switchHost').hide();
        $(".product_radio").click(function () {
            var product =  $("input[name='product_type']:checked").val();
            if(product == 0){
                $('#tpisshow').show();
            }else if(product == 1){
                $('#tpisshow').hide();
            }
        })

        $(function () {
            $(".cancel").click(function () {
                window.location.href="{:url('server/index')}"
            })
        })
    })
</script>
