<div class="layui-btn-group demoTable">
    <div class="layui-inline">
        <input class="layui-input"  autocomplete="off" name="id" placeholder="请输入搜索产品名称" style="width: 300px;" type="text">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
    <a href="{:url('rule/add')}?productid={$productid}"><button class="layui-btn margin-left10" style="margin-left: 10px;" >添加规则</button></a>
</div>

<table class="layui-table" lay-data="{width: 1590, height:680, url:'{:url('rule/getRule')}?productid={$productid}', page:true,limits:[15,30,45],limit:15, id:'idTest'}" lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{field:'rule_name', width:180}">规则名称</th>
        <th lay-data="{field:'product_type', width:70,templet: '#titleTpl'}">类型</th>
        <th lay-data="{field:'rule_status', width:70,templet: '#rule_status'}">状态</th>
        <th lay-data="{field:'rule_host', width:180}">域名</th>
        <th lay-data="{field:'rule_exhost', width:180}">HOST排除</th>
        <th lay-data="{field:'rule_exuri', width:180}">URL排除</th>
        <th lay-data="{field:'rule_exua', width:180}">UA排除</th>
        <th lay-data="{field:'rule_precise_exua', width:180}">UA精准排除</th>
        <th lay-data="{field:'rule_excookie', width:180}">COOkIE排除</th>
        <th lay-data="{fixed: 'right', width:240, align:'center', toolbar: '#barDemo'}">操作项</th>
    </tr>
    </thead>
</table>


<script type="text/html" id="titleTpl">
    {{#  if(d.product_type ==0){ }}
    通匹
    {{#  } else if(d.product_type ==1){ }}
    基本
    {{#  } }}
</script>

<script type="text/html" id="rule_status">
    {{#  if(d.rule_status ==0){ }}
    关闭
    {{#  } else if(d.rule_status ==1){ }}
    开启
    {{#  } }}
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs  layui-btn-normal fff" lay-event="detail">子规则</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(demo)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                window.location.href="{:url('childrule/index')}?id="+data.id;
            } else if(obj.event === 'del'){
                layer.confirm('数据无法恢复，确定执行删除操作？', function(index){
                    layui.use('jquery',function(){
                        var $=layui.$;
                        $.ajax({
                            type: 'post',
                            url: "{:url('rule/delAction')}", // ajax请求路径
                            data: obj.data,
                            success: function(data){
                                if(data.code==0){
                                    layer.msg('删除成功！');
                                    obj.del();
                                    layer.close(index);
                                }else{
                                    layer.msg(data.msg);
                                }
                            }
                        });
                    });
                });
            } else if(obj.event === 'edit'){
                window.location.href="{:url('rule/edit')}?id="+data.id;
            }
        });

        var $ = layui.$, active = {
            getCheckData: function(){ //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            ,getCheckLength: function(){ //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    ,data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
            }
            ,isAll: function(){ //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
