/*外边距*/
.margin-left10{
    margin-left: 10px !important;
}


/*input宽度*/
.inputWidth{
    width: 300px !important;
}


/* 颜色*/
.ccc{
    color: #cccccc;
}
.fff{
    color: #FFF;
    border: 1px solid #1E9FFF;
}

.c009688{
    color: #009688;
}
.c666{
    color: red;
}
.E9FFF{
    color: #1E9FFF;
    border: 1px solid #1E9FFF;
  }
.overstriking{
    font-weight: 700;
}

/*下划线*/
.xhx{
    text-decoration:underline;
    cursor: pointer;
}