/*外边距*/
.margin-left10{
    margin-left: 10px !important;
}


/*input宽度*/
.inputWidth{
    width: 300px !important;
}


/* 颜色*/
.ccc{
    color: #cccccc;
}

.c009688{
    color: #009688;
}
.c666{
    color: red;
}

/*下划线*/
.xhx{
    text-decoration:underline;
    cursor: pointer;
}