{include file='layout/header'}
<blockquote class="layui-elem-quote layui-text">
    添加子账号
</blockquote>
<form class="layui-form" action="{:url('pushpolicy/addAction')}" method="post">

    <input type="hidden" name="data[userflag]" value="2">
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-inline" >
            <input type="text" name="data[username]" id="verifyName" lay-verify="name" placeholder="请输入账号" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux showName">请填写4-16位（字母、数字、下划线、减号组合）</div>
        <div class="layui-form-mid layui-word-aux hideName c666">账号已经存在</div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="text" name="data[passwd]"  id="verifyPass" lay-verify="pass" placeholder="请填写4-16位密码" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即添加</button>
            <a class="layui-btn layui-btn-primary cancel"  lay-filter="cancel"  >取消</a>
        </div>
    </div>
</form>

<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;
        //自定义验证规则
        form.verify({
            name: [/^[a-zA-Z0-9_-]{4,16}$/,'账号为：4-16位字母、数字、下划线、减号组合'],
            pass: [/^[a-zA-Z0-9_-]{4,16}$/,'密码为：4-16位字母、数字、下划线、减号组合'],
            content: function(value){
                layedit.sync(editIndex);
            }
        });
        //监听提交
        form.on('submit(demo1)', function(data){
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // })
            layui.use('jquery',function(){
                var $=layui.$;
                $.ajax({
                    type: 'post',
                    url: "{:url('user/addAction')}", // ajax请求路径
                    data: data.field,
                    success: function(data){
                        if(data.code==0){
                             layer.msg('添加成功');
                             setTimeout(function () {
                                 window.location.href="{:url('index/userIndex')}"
                             },1000)
                         }else{
                             layer.msg(data.msg);
                         }
                    }
                });
            });
            return false;
        });
    });



    // 取消
    $(function () {
        $('.showName').show();
        $('.passName').show();

        $('.hideName').hide();
        $("#verifyName").blur(function () {
            var nameValue = $("input[name='data[username]']").val();
            if(nameValue == ''){
                $('.showName').show();
            }
            $.ajax({
                type: 'post',
                url: "{:url('user/verifyName')}", // ajax请求路径
                data: {username:nameValue},
                success: function(data){
                    console.log(data);
                    if(data == 1){ //说明存在相同的账号，提示错误后清空input
                        $('.showName').hide();
                        $('.hideName').show();
                    }else{
                        $('.hideName').hide();
                    }
                }
            });
        })


        $(".cancel").click(function () {
            window.location.href="{:url('index/userIndex')}"
        })
    })

</script>
